<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label '商品名' %>
    <%= form.text_field :title, id: :product_title %>
  </div>

  <div class="field">
    <%= form.label '価格' %>
    <%= form.number_field :price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label '説明' %>
    <%= form.text_area :description, id: :product_description %>
  </div>
  
  <div class="field">
    <%= form.label '画像' %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
