%p#notice= notice
%p
  %strong 商品名:
  = @product.title
%p
  %strong 価格
  = @product.price
  円
%p
  %strong 説明
  = @product.description
= image_tag @product.image_url.to_s
  
    
  
= form_tag action: :pay, method: :post do
  :plain
    <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_167982005349b8573cbba361"></script>
= link_to 'Edit', edit_product_path(@product)
|
= link_to '一覧に戻る', products_path

